/* цвет основного текста #212121
вторичный цвет текста #757575
дополнительный цвет #FFFFFF
акцент #2196F3
основной цвет фона #E5E5E5
дополнительный цвет фона #F5F4FA
*/
:root {
--primary-text-color: #212121;
--secondary-text-color: #757575;
--white-text-color: #FFFFFF;
--accent-text-color: #2196F3; 
--main-bg-color: #E5E5E5;
--secondary-bg-color: #F5F4FA;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--primary-text-color);
}
.heading-type {
    color: var(--primary-text-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.2;
}
.white {
    color: var(--white-text-color);
    background: rgba(47, 48, 58, 0.8);
}
.section-heading {
    color: var(--primary-text-color);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    font-weight: bold;
}
.logo>span {
    color: var(--accent-text-color);
}
.main-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.main-navigation:hover,
.main-navigation:focus {
    color: var(--accent-text-color);
}
.contact-navigation {
    color: var(--secondary-text-color);
    font-weight: 500;
}
.contact-navigation:hover {
    color: var(--accent-text-color);
    cursor: pointer;
}